* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.heading {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading-text {
  color: #6c6b6b;
  padding: 20px;
}

.webcamp {
  width: 840px;
  margin: 50px auto;
}

.webcamp-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid#f7f7f7;
}
